requests
pyinotify
sqlalchemy
enum34
-e git+git://github.com/gustavofonseca/plumber.git#egg=plumber
-e git+git://github.com/scieloorg/scieloapi.py.git#egg=scieloapi
-e git+git://github.com/scieloorg/packtools.git#egg=packtools
pyramid
WebTest
transaction
zope.sqlalchemy
psycopg2
lxml
factory_boy
